<nav class="navbar" [class.scrolled]="isScrolled" [class.visible]="isVisible">
  <!-- Desktop Navbar -->
  <div class="navbar-desktop" [class.scrolled]="isScrolled">
    <a routerLink="/">
      <img src="assets/images/wordlesslogo.png" alt="The Coffee Table Co. Logo" class="navbar-logo-img" />
    </a>
    <div class="center-nav-links flex flex-row gap-4 w-[60%] justify-between">
      <a routerLink="/home" class="section-titles">Home</a>
      <a routerLink="/menu" class="section-titles">Menu</a>
      <a routerLink="/services" class="section-titles">Services</a>
      <a routerLink="/about" class="section-titles">About Us</a>
      <a routerLink="/gallery" class="section-titles">Gallery</a>
    </div>
    <app-primary-btn label="Order" href="https://www.thecoffeetable.co/" target="_blank" (click)="toggleMenu()"></app-primary-btn>
  </div>

  <!-- Mobile Navbar -->
  <div class="navbar-content">
    <button class="hamburger" (click)="toggleMenu()" aria-label="Open menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="navbar-logo">
      <a routerLink="/">
        <img src="assets/images/wordlesslogo.png" alt="The Coffee Table Co. Logo" class="mobile-logo-img" />
      </a>
    </div>
  </div>
  <div class="side-menu" [class.open]="menuOpen">
    <button class="close-btn" (click)="toggleMenu()" aria-label="Close menu">&times;</button>
    <ul>
      <li><a routerLink="/" (click)="toggleMenu()" class="section-titles">Home</a></li>
      <li><a routerLink="/menu" (click)="toggleMenu()" class="section-titles">Menu</a></li>
      <li><a routerLink="/services" (click)="toggleMenu()" class="section-titles">Services</a></li>
      <li><a routerLink="/about" (click)="toggleMenu()" class="section-titles">About Us</a></li>
      <li><a routerLink="/gallery" (click)="toggleMenu()" class="section-titles">Gallery</a></li>
    </ul>
    <div class="side-menu-bottom">
      <div class="instagram-link">
        <a href="https://www.instagram.com/thecoffeetable.co/" target="_blank" aria-label="Instagram">
          <picture>
            <source srcset="assets/images/instagramicon.avif" type="image/avif">
            <img src="assets/images/instagramicon.png" alt="Instagram" />
          </picture>
        </a>
      </div>
      <div class="order-button-container">
        <app-primary-btn label="Order" href="https://www.thecoffeetable.co/" target="_blank" (click)="toggleMenu()"></app-primary-btn>
      </div>
    </div>
  </div>
  <div class="side-menu-backdrop" *ngIf="menuOpen" (click)="toggleMenu()"></div>
</nav>
