<section class="gallery-preview-section w-full flex flex-col justify-center py-16 relative overflow-hidden">
  <div class="w-full max-w-[1800px] mx-auto relative z-10">
    <div class="gallery-title-vertical-container flex flex-col items-start w-full mb-4">
      <h2 #titleElement class="gallery-title-minimal fade-up-delay-1">GALLERY</h2>
    </div>
    <div class="gallery-collage-container">
      <img src="https://static.wixstatic.com/media/c2d9c5_61704c8757e74477a6e713d07c484778~mv2.jpg/v1/fill/w_858,h_962,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/_DJC8462.jpg"
           alt="Cafe Interior" class="collage-img main-image" />
      <img src="https://static.wixstatic.com/media/c2d9c5_25c0b3a0f17d4946b6a65355b0825fb4~mv2.jpg/v1/fill/w_716,h_478,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/_DJC8847.jpg"
           alt="Main Coffee Portrait" class="collage-img top-right-image" />
      <img src="https://static.wixstatic.com/media/c2d9c5_e5ba869bdf05410e98634e5054a61de5~mv2.jpg/v1/fill/w_530,h_352,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/_DJC8738.jpg"
           alt="Iced Drinks" class="collage-img bottom-left-image" />
      <img src="https://static.wixstatic.com/media/c2d9c5_9f0571cc17d1402f9c727bfbe88b2003~mv2.jpg/v1/crop/x_0,y_61,w_5217,h_5754/fill/w_452,h_498,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/_DJC8506.jpg"
           alt="Coffee Portrait" class="collage-img bottom-right-image" />
    </div>
    <div class="flex justify-end">
      <app-primary-btn label="View Gallery" [routerLink]="['/gallery']"></app-primary-btn>
    </div>
  </div>
</section>
